<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".AuthenticationActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:allowBackup="false">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="${authRedirectScheme}"
                    android:host="${authRedirectHost}"
                    android:path="${authRedirectPath}"
                    tools:replace="android:host,android:path,android:scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>